<div>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
      <a class="navbar-brand" routerLink="/index">Angular CRUD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/calendar">Calendar Component</a>
          <a class="nav-item nav-link" routerLink="/create">Create a Post</a>
          <a class="nav-item nav-link" routerLink="/validations">Validations Demo</a>
        </div>
      </div>
    </nav>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <span class="text-muted"><a href="http://sommerbareen.com">@SommerBareen</a></span>
    <span class="text-muted" id="number">0304-9944116</span>
  </div>
</footer>