.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-header-cell.mat-header-cell.cdk-column-id.mat-column-id.ng-star-inserted {
  max-width: 50px;
}
mat-cell.mat-cell.cdk-column-id.mat-column-id.ng-star-inserted {
    max-width: 50px;
}

mat-header-cell.mat-header-cell.cdk-column-title.mat-column-title.ng-star-inserted {
    max-width: 300px;
}
mat-cell.mat-cell.cdk-column-title.mat-column-title.ng-star-inserted {
  max-width: 300px;
}
.display-6 {
  margin-top: 20px;
}
#header {
  margin-bottom: 20px;
}