/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.card-body {
  text-align: left;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-toolbar-row {
  justify-content: space-between;
}
a.logo-icon {
   text-decoration: none !important;
   color: #f9f9f9;
}
.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.mat-table.clickable-rows .mat-row {
  cursor: pointer;
}
.mat-table.clickable-rows .mat-row:hover {
  background-color: #f9f9f9;
}
